* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    transition: 300ms ease-out;
}

.main-content {
    height: 615px;
    width: 100%;
}

ul {
    list-style: none;
}
figure {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
}

input[type=button] {
    cursor: pointer;
}

.header-admin {
    background-color: #727172;
    height: 70px;
    background-image: linear-gradient(to right, #dadada, #000);
}

.header-admin img {
    float: left;
    width: 5%;
    margin: 5px 10px;
}

a.text-admin {
    float: left;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    margin-top: 27px;
    padding-left: 15px;
}

a.dang-xuat,
a.trang-chu {
    float: right;
    color: #fff;
    font-size: 15px;
    margin-top: 27px;
}

a.trang-chu:hover,
a.dang-xuat:hover {
    color: #fdd504;
}

.header-admin i {
    float: right;
    color: #fdd504;
    font-size: 15px;
    margin-top: 28px;
    padding-left: 30px;
}

.admin-menu {
    margin-top: 3%;
    margin-left: -6%;
    border: 2px solid #dadada;
    border-radius: 15px;
    width: 22%;
    float: left;
    height: 200px;
}

.admin-menu h1,
.danh-sach-san-pham h1 {
    background: #686868;
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 36px;
    padding: 5px 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.admin-menu ul {
    padding: 5px 15px;
    height: 135px;
}

.admin-menu ul li {
    font-size: 14px;
    padding: 6px 4px;
    border-bottom: 1px solid #000;
}

.admin-menu ul li a:hover {
    color: #fdd504;
}

.danh-sach-san-pham {
    float: left;
    margin-top: 3%;
    margin-left: 10px;
    width: 76%;
    height: 580px;
    border: 2px solid #dadada;
    border-radius: 15px;
}

.danh-sach-san-pham button {
    background: #333;
    float: right;
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    margin-top: 15px;
    margin-right: 15px;
}

.danh-sach-san-pham table {
    margin-top: 67px;
}

.danh-sach-san-pham table tr th {
    padding: 1%;
    background: #686868;
    color: #fff;
    border: 1px solid #dadada;
}

.danh-sach-san-pham table tr td {
    width: 22%;
    border: 1px solid #dadada;
    text-align: center;
}

.danh-sach-san-pham table tr td img {
    width: 50%;
}

.danh-sach-san-pham table tr td input[type=button] {
    border: none;
    background-color: #fff;
}

.copyrights {
    background-color: #eee;
    color: black;
    width: 100%;
    height: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 14px;
}

form {
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin: 2% auto;
}

.them-sp {
    height: 270px;
    width: 100%;
    margin-top: 6%;
}


/* Full-width inputs */

input[type=text],
input[type=password],
input[type=flie] {
    width: 65%;
    padding: 2% 2%;
    margin: 2% 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    transition: 300ms ease-out;
}

.add {
    color: white;
    padding: 2% 2%;
    margin: 2% 0;
    border: none;
    outline: none;
    font-weight: 700;
    background-color: #46A049;
    cursor: pointer;
    width: 25%;
    float: right;
}

.huy-bo {
    color: white;
    padding: 2% 2%;
    margin: 2% 0;
    border: none;
    outline: none;
    font-weight: 700;
    background-color: #f44336;
    cursor: pointer;
    width: 25%;
    float: left;
}

input[type=button]:hover,
input[type=reset]:hover {
    background-color: #fdd504;
    color: black;
    transition: 300ms ease-out;
    outline: none;
}

.input-addd {
    padding: 2% 2%;
    float: left;
    margin: 2% 0;
    width: 65%;
    box-sizing: border-box;
    outline: none;
    transition: 300ms ease-out;
}

.input-add {
    border: 1px solid #ddd;
    padding: 2% 2%;
    float: left;
    margin: 2% 0;
    width: 65%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    transition: 300ms ease-out;
}

label {
    float: left;
    width: 35%;
    margin-top: 4.4%;
}


/*Danh sách đơn hàng*/

.admin-menu h1,
.danh-sach-don-hang h1 {
    background: #686868;
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 36px;
    padding: 5px 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.danh-sach-don-hang {
    float: left;
    margin-top: 3%;
    margin-left: 10px;
    width: 76%;
    height: 610px;
    border: 2px solid #dadada;
    border-radius: 15px;
}

.danh-sach-san-pham button {
    background: #333;
    float: right;
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    margin-top: 15px;
    margin-right: 15px;
}

.danh-sach-don-hang table {
    margin-top: 67px;
}

.danh-sach-don-hang table tr th {
    padding: 1%;
    background: #686868;
    color: #fff;
    border: 1px solid #dadada;
}

.danh-sach-don-hang table tr td {
    width: 15%;
    border: 1px solid #dadada;
    text-align: center;
}

.danh-sach-don-hang table tr td img {
    width: 50%;
}

.danh-sach-don-hang table tr td input[type=button] {
    border: none;
    background-color: #fff;
    outline: none;
}

.loc-don-hang {
    margin: 3% 8% -3% 25%;
}

.loc-ngay {
    color: white;
    padding: 1% 1%;
    margin: 0;
    border: none;
    outline: none;
    font-weight: 700;
    background-color: #46A049;
    cursor: pointer;
    width: 15%;
}


/*Danh sách user*/

.admin-menu h1,
.danh-sach-user h1 {
    background: #686868;
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 36px;
    padding: 5px 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.danh-sach-user {
    float: left;
    margin-top: 3%;
    margin-left: 10px;
    width: 76%;
    height: 678px;
    border: 2px solid #dadada;
    border-radius: 15px;
}

.danh-sach-user button {
    background: #333;
    float: right;
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    margin-top: 15px;
    margin-right: 15px;
}

.danh-sach-user table {
    margin-top: 50px;
}

.danh-sach-user table tr th {
    padding: 1%;
    background: #686868;
    color: #fff;
    border: 1px solid #dadada;
}

.danh-sach-user table tr td {
    width: 13.13%;
    border: 1px solid #dadada;
    text-align: center;
}

.danh-sach-user table tr td img {
    width: 50%;
}

.danh-sach-user table tr td input[type=button] {
    border: none;
    background-color: #fff;
    outline: none;
}

.loc-ds-user {
    width: 100%;
    height: 72px;
}

.loc-user {
    color: white;
    padding: .65% .65%;
    margin: 0;
    border: none;
    outline: none;
    font-weight: 700;
    background-color: #46A049;
    cursor: pointer;
    width: 10%;
}


/*Thống ke*/

.admin-menu h1,
.danh-sach-thong-ke h1 {
    background: #686868;
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 36px;
    padding: 5px 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.danh-sach-thong-ke {
    float: left;
    margin-top: 3%;
    margin-left: 10px;
    width: 76%;
    height: 666px;
    border: 2px solid #dadada;
    border-radius: 15px;
}

.danh-sach-thong-ke button {
    background: #333;
    float: right;
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    margin-top: 15px;
    margin-right: 15px;
}

.danh-sach-thong-ke table {
    margin-top: 67px;
}

.danh-sach-thong-ke table tr th {
    padding: 1%;
    background: #686868;
    color: #fff;
    border: 1px solid #dadada;
}

.danh-sach-thong-ke table tr td {
    width: 15%;
    border: 1px solid #dadada;
    text-align: center;
}

.danh-sach-thong-ke table tr td img {
    width: 50%;
}

.danh-sach-thong-ke table tr td input[type=button] {
    border: none;
    background-color: #fff;
    outline: none;
}

.loc-don-hang {
    margin: 3% 8% -3% 25%;
}

.loc-ngay {
    color: white;
    padding: 1% 1%;
    margin: 0;
    border: none;
    outline: none;
    font-weight: 700;
    background-color: #46A049;
    cursor: pointer;
    width: 15%;
}

#piechart {
    margin: 0% 25%;
}

.loc-thong-ke {
    width: 100%;
    height: 35px;
}

.thong-ke-chi-tiet {
    width: 100%;
    height: 150px;
}

.thong-ke-chi-tiet ul {
    margin-left: 2%;
    margin-top: 3%;
}

.thong-ke-chi-tiet ul li {
    float: left;
    width: 25%;
    text-align: center;
    height: 50px;
}

.thong-ke-chi-tiet ul li i {
    font-size: 40px;
}

.so-lieu {
    font-size: 300%;
}

.thong-tin {
    color: #FFA551;
}

.table {
    height: 10px;
    margin-top: 210px;
    margin-bottom: 40px;
}
.sp-ban-chay{
    width: 50%;
    margin-top:0; 
    height: 100px;
    margin-left: 10%;
}
.sp-ban-chay thead tr th{
    width: 20%;
}